
:root {
  --green: #8dff8d;
  --white: #FFFFFF;
  --black: #000000;
  --purple: #b659f0;
  --btnBg:  #b5ffe0;
}

body {
  background: var(--bg);
  color: var(--fontColor);
  font-family: helvetica;
}


.light-marachet-theme{

  --bg: var(--white);
  --fontColor: var(--black);
  --btnBg: var(--purple);
  --btnFontColor: var(--white);
}

.dark-theme {
  --bg: var(--black);
  --fontColor: var(--purple);
  --btnBg: var(--white);
  --btnFontColor: var(--black);
}

.btn {
  position: absolute;
  top: 20px;
  left: 250px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

.btn img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.marachet-title {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.carousel-wrapper {
  position: relative;
  max-width: 800px; /* O el tamaño que prefieras */
  margin: 0 auto;
}

.carousel {
  display: flex;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none; /* Oculta la barra nativa */
  scroll-behavior: smooth; /* ¡Importante para que el JS se anime suavemente! */
}

.carousel::-webkit-scrollbar {
  display: none;
}

.slide {
  flex: 0 0 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  scroll-snap-align: start;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

/* Estilos de los botones */
.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 50%;
  z-index: 10;
}

.prev-btn { left: 10px; }
.next-btn { right: 10px; }

.nav-button:hover {
  background: rgba(0, 0, 0, 0.8);
}

.insta-btn{
    align-items: center;
    background-color: transparent;
    border: none;
}
.insta-btn img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}